<header>
    <span class="image avatar"><img src="/images/avatar.jpg" alt="" /></span>
    <h1 id="logo"><a href="#">Frankie Chan</a></h1>
    <p>I got reprogrammed by a rogue AI<br />
        and now I'm totally cray</p>
    <footer>
        <ul class="icons">
            <li><a href="#" class="icon fa-weibo"><span class="label">Weibo</span></a></li>
            <li><a href="#" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
            <li><a href="#" class="icon fa-weixin"><span class="label">Wechat</span></a></li>
            <li><a href="#" class="icon fa-github"><span class="label">Github</span></a></li>
            <li><a href="#" class="icon fa-envelope"><span class="label">Email</span></a></li>
        </ul>
    </footer>
</header>
